.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems img {
    width: 50px;
    border-radius: 50%;
}

.dialogsItems .active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: red;
}